@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{
    <section class="bannerSection">
        <div class="container">
            <div class="row">
                <div class="col-6 bannerContainer">
                    <div>
                        @foreach (var item in selection.OrderBy(x => x.Level))
                        {
                        <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        }
                    </div>
                    <h1>@Model.Name</h1>
                </div>
            </div>
        </div>
    </section>
}