@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="FeaturesSection">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 FeatureShowcase">
                    <p>Features</p>
                    <h1>Our Accounting Is Trusted By Thousand Of Companies</h1>
                    <button class="btn btn-warning">Learn More</button>
                </div>
                <div class="col-12 col-lg-5 Features">
                    <div class="col-6">
                        <i class="fa-regular fa-handshake"></i>
                        <p>Business Advice</p>
                        <div class="col-11 col-lg-10">
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa-regular fa-lightbulb"></i>
                        <p>Startup Business</p>
                        <div class="col-11 col-lg-10">
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-coins"></i>
                        <p>Financial Advice</p>
                        <div class="col-11 col-lg-10">
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa-solid fa-box-archive"></i>
                        <p>Risk Management</p>
                        <div class="col-11 col-lg-10">
                            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>