@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 footerContainer">
                    <div class="col-10 col-md-3 footerText">
                        <div class="col-5 col-md-7">
                        <img src="~/static/Logowhitetext.png" alt="Crito Logo">
                        </div>
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a posuere lacus, nec auctor orci. Donec pellentesque fringilla nulla, ut tempus nisi ultricies pellentesque. Ut dictum venenatis massa non imperdiet.</small>
                    </div>
                    <div class="col-5 col-md-2 footerList">
                        <p>Company</p>
                        <ul>
                            <li><a href="/">About</a></li>
                            <li><a href="/">Features</a></li>
                            <li><a href="/">Works</a></li>
                            <li><a href="/">Career</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-md-2 footerList">
                        <p>Help</p>
                        <ul>
                            <li><a href="/">Customer Support</a></li>
                            <li><a href="/">Delivery Details</a></li>
                            <li><a href="/">Terms & Conditions</a></li>
                            <li><a href="/">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-md-2 footerList">
                        <p>Resources</p>
                        <ul>
                            <li><a href="/">Free eBooks</a></li>
                            <li><a href="/">Development Tutorial</a></li>
                            <li><a href="/">How to - Blog</a></li>
                            <li><a href="/">Youtube Playlist</a></li>
                        </ul>
                    </div>
                    <div class="col-5 col-md-2 footerList">
                        <p>Link</p>
                        <ul>
                            <li><a href="/">Free eBooks</a></li>
                            <li><a href="/">Development Tutorial</a></li>
                            <li><a href="/">How to - Blog</a></li>
                            <li><a href="/">Youtube Playlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr class="footerHr">
        <div class="container">
            <div class="row">
                <div class="col-12 copyRight">
                    <div class="col-10 col-md-5">
                        <small>© @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</small>
                    </div>
                    <div class="col-10 col-md-3 icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>