@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-3 headerLogo">
                    <img src="images/crito_logo.png" alt="Logo">
                </div>
                <div class="toggle col-2">
                    <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                        <i id="icon" class="fa-regular fa-bars"></i>
                    </button>
                </div>
                <div class="col-9 InfoNav">
                    <div class="col-12 InfoIconContainer">
                        <div class="col-12 col-md-9 Info">
                            <a href="tel:+473333333">+473333333</a>
                            <a href="mailto: info@crito.com">info@crito.com</a>
                            <a href="https://goo.gl/maps/micPe8XSDYunsESw5">Teleskopsvägen 4, 311 43 FALKENBERG</a>
                        </div>
                        <div class="col-12 col-md-2 Icons">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </div>
                    <div class="col-12 NavLogin">
                        <div class="col-5 Nav">
                            <a href="./home.html">Home</a>
                            <a href="./home.html">Service</a>
                            <a href="./news.html">News</a>
                            <a href="./contact.html">Contact</a>
                        </div>
                        <div class="col-2 login Nav">
                            <button class="btn btn-warning">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>