
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@model List<IPublishedContent>

@{  

 var itemsPerPage = 9;
    var pageNumber = 1;
    
    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }
    
    
    var totalItems = Model?.Count() ?? 0;
    var pagedItems = Model?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage); 
}



<div class="pagination col-12">
    <nav class="item-pagination col-4" aria-label="Page navigation">
        @if (pageNumber > 1)
        {
            <a href="?page=@(pageNumber - 1)" class="item-link link-prev" aria-label="Previous">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
            </a>
        }

        @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
        {
            if (i == pageNumber)
            {
                <a href="?page=@i" class="item-link active">@i</a>
            }
            else
            {
                <a href="?page=@i" class="item-link">@i</a>
            }
        }

        @if (pageNumber < Math.Ceiling((decimal)totalItems / itemsPerPage))
        {
            <a href="?page=@(pageNumber + 1)" class="item-link item-next" aria-label="Next">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-right"></i></span>
            </a>
        }
    </nav>
</div> 
