@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models.PublishedContent;
@inject IUserService UserService;

@{
    var itemsPerPage = 9;
    var pageNumber = 1;
    
    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }

      var selection = Umbraco.Content(Guid.Parse("cff7f32c-73cc-46ce-a426-41f9bbc65d9a"))
      .ChildrenOfType("bloggItem")
      .Where(x => x.IsVisible())
      .OrderByDescending(x => x.CreateDate).ToList();
    
    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
    
    <nav class="item-pagination" aria-label="Page navigation">
        @if (pageNumber > 1)
        {
            <a href="?page=@(pageNumber - 1)" class="item-link link-prev" aria-label="Previous">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-left"></i></span>
            </a>
        }

        @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
        {
            if (i == pageNumber)
            {
                <a href="?page=@i" class="item-link active">@i</a>
            }
            else
            {
                <a href="?page=@i" class="item-link">@i</a>
            }
        }

        @if (pageNumber < Math.Ceiling((decimal)totalItems / itemsPerPage))
        {
            <a href="?page=@(pageNumber + 1)" class="item-link item-next" aria-label="Next">
                <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-right"></i></span>
            </a>
        }
    </nav> 
}
