@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models

@{
	var selection = Umbraco.Content(Guid.Parse("aeada0b5-daf6-4446-863c-78f8a073a14d"))
    .ChildrenOfType("bloggItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate);
}

<section class="projectSection">
        <div class="container">
            <div class="row">
                <div class="col-12 projectContainer">
                    <div class="col-12 projectTitle">
                        <p>Project & Case Studies</p>
                        <h1>Let's Looks Our Global Projects</h1>
                    </div>
                    <div class="projectCardContainer">
                        
                        @foreach (var item in selection)
	                        {
                        	<div class="col-5 projectCard">
                            @{
                                var projectAndStudiesImage = item.Value<MediaWithCrops>("articleCardImage");
                                if(projectAndStudiesImage != null)
                                {
                                    <img src="@projectAndStudiesImage.MediaUrl()" alt="@item.Value("projectAndStudiesTitle")">
                                }
                            }
                                    <div class="articleTitle">
                                        <p>@item.Name()</p>
                                    </div>
                                    <hr>
                                    <a href="@item.Url()"><button class="btn btn-light">Read More</button></a>
                            </div>
                        	}
                        
                    </div>
                    <div class="projectBtn">
                        <a href="/projects"><button class="btn btn-dark">All Recent Projects</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    





