@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="col-12 d-flex justify-content-center">
    <div class="d-flex align-items-center justify-content-center mt-4 col-3">
        <form action="@Model.Url()" method="get">
            <input class="searchbar" type="text" placeholder="Type to search.." name="query" />
        </form>
    </div>
</div>
