@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="signUp">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 holder">
                <div class="col-9 col-lg-9 signupContainer">
                    <div class="col-12 col-lg-7 signUpText">
                        <h2>Get News Updates By Signup</h2>
                    </div>
                    <div class="col-12 col-lg-5 subscribeBtn">
                        <input type="text" id="email" name="email" placeholder="username@domain.com">
                        <button class="btn btn-warning">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>