@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Crito.Models;
@{
    var subscriptionForm = new SubscriptionForm();
}
<section class="signUp">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 holder">
                <div class="col-9 col-lg-9 signupContainer">
                    <div class="col-12 col-lg-7 signUpText">
                        <h2>Get News Updates By Signup</h2>
                    </div>
                    <div class="col-12 col-lg-5 subscribeBtn">
                        @using (Html.BeginUmbracoForm("Index", "Subscription", FormMethod.Post))
                        {
                            <input type="email" id="email" name="email" asp-for="@subscriptionForm.Email" placeholder="username@domain.com">
                            <button class="btn btn-warning">Subscribe</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>