@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="googlemaps">
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2179.9814518910684!2d12.51616067658978!3d56.88056107352242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4651c92a84872f8f%3A0xf8304386660699a1!2sTeleskopv%C3%A4gen%204%2C%20311%2043%20Falkenberg!5e0!3m2!1ssv!2sse!4v1693385588868!5m2!1ssv!2sse" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>