@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="whyChooseUs">
        <div class="container">
            <div class="row">
                <div class="col-12 whyChooseUsContainer ">
                    <div class="col-12 col-lg-4 info">
                        <p class="infoPara">Why Choose Us</p>
                        <h1>Why We Are The Best Business Consulting Agency</h1>
                        <div class="col-12 infoContainer">
                            <div class="infoDiv">
                                <i class="fa-regular fa-thumbs-up"></i>
                                <div>
                                    <p>Process Excellence</p>
                                    <small>Lorem ipsum dolor sit amet consectetur</small>
                                </div>
                            </div>
                            <div class="infoDiv">
                                <i class="fa-regular fa-gem"></i>
                                <div>
                                    <p>Strategic Planning</p>
                                    <small>Lorem ipsum dolor sit amet consectetur</small>
                                </div>
                            </div>
                            <div class="infoDiv">
                                <i class="fa-regular fa-lightbulb"></i>
                                <div>
                                    <p>Experience Design</p>
                                    <small>Lorem ipsum dolor sit amet consectetur</small>
                                </div>
                            </div>
                            <div class="infoDiv">
                                <i class="fa-solid fa-brain"></i>
                                <div>
                                    <p>Artificial Inteligence</p>
                                    <small>Lorem ipsum dolor sit amet consectetur</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 image">
                        <img src="./images/why_choose_us.png" alt="Colleagues">
                    </div>
                </div>
            </div>
        </div>
    </section>