@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
<div class="featuresCard">
    <div>
        <hr>
        <h5>@Model.ServiceCardTitle</h5>
        <small>@Model.ServiceCardText</small>
        <button class="btn btn-light"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</div>
