@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<div class="col-5 col-md-3 reviewCard">
    <div class="reviewStars">
        <i class="fa-solid fa-star" style="color: #fd6717;"></i>
        <i class="fa-solid fa-star" style="color: #fd6717;"></i>
        <i class="fa-solid fa-star" style="color: #fd6717;"></i>
        <i class="fa-solid fa-star" style="color: #fd6717;"></i>
        <i class="fa-solid fa-star" style="color: #fd6717;"></i>
    </div>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a posuere lacus, nec auctor orci. Donec pellentesque fringilla nulla, ut tempus nisi ultricies pellentesque."</p>
    <h6>Cassandra Warren</h6>
    <small>Business Manager, Dorfus</small>
</div>