@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
    var testar = Model.MacroParameters["article"];
}


<p>Hej</p>