@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Core.Models

@{
 var list = Model.MacroParameters["list"] as IEnumerable<IPublishedContent>;
 var itemsPerPage = 9;
        var pageNumber = 1;
    
        if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        {
            pageNumber = 1;
        }
}
<p>@list</p>